#gradio_header {
    width: 100%;
    min-height: 11vh;
    display:flex;
    align-items: center;
    }

    #gradio_header h1 {
    width: 150% !important;
    padding-left: 3% !important;
    font-size:1.2rem !important;
    }

    #gradio_header #logo{
    width: 3.25rem;
    height: 3.25rem;
    }
    #row1 {flex-grow: 1; align-items: unset;}
    .form {height: fit-content;}
    footer {display: none !important;}

    #left_container {
        height: fit-content !important;
        overflow-y: auto !important;
        border: 1px solid #374151 !important;
        background-color:#1F2937 !important;
        padding: 3% !important;
        padding-bottom: 5% !important;
    }

    #left_container p{
        color:#9ca3af;
        padding-bottom: 2.5% !important;
    }
    #submit{
        background:#69BE28 !important;
    }

    #submit:hover{
        background-color: #4A9C1D !important;
    }

    #left_container a{
        font-size: 1rem;
        padding: 2% 5%;
        background-color: #69BE28;
        text-decoration: none;
        color: white;
        border-radius:5px;
        margin-bottom:5% !important;
    }

    #left_container a:hover{
        cursor:pointer;
        background-color: #4A9C1D;
    }


@media (min-width: 1024px) and (max-width: 1440px) {
#gradio_header {
    width: 100%;
    display:flex;
    height: 15vh;
    align-items: center;
    }

    #gradio_header h1 {
    width: 150% !important;
    font-size:1rem !important;
    }

    #gradio_header #logo{
    width: 3rem;
    height: 3rem;
    }

    #left_container a{
        font-size: 0.9rem;
    }
}